<!DOCTYPE html>
<html lang="en">

<head>
    <script src="sweetalert2.all.min.js"></script>
    <meta charset="utf-8">
    <title>SATORU-APIS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Favicon -->
    <link href="img/satoru.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Carregando...</span>
            </div>
        </div>
        <!-- Spinner End-->


        <!-- Sidebar aqui -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">

                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                    </div>
                </div>
                <div class="navbar-nav w-100">

                    <a href="index.html" class="nav-item nav-link active padding"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="api/game" class="nav-item nav-link">
                        <i class="fas fa-ghost"></i> Jogar</a>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-download"
                                aria-hidden="true"></i> DOWNLOADER</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a class="dropdown-item" target="_blank"
                                href="/api/download/ytmp4?url=https://www.youtube.com/watch?v=7AlAYttGnAg&apikey=APIKEY"
                                target="_blank">Youtube Video</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/download/ytmp3?url=https://www.youtube.com/watch?v=7AlAYttGnAg&apikey=APIKEY"
                                target="_blank">Youtube Audio</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/download/ytmp32?url=https://www.youtube.com/watch?v=7AlAYttGnAg&apikey=APIKEY"
                                target="_blank">Youtube Audio2</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/downloader/pinterest?q=aeshestic&apikey=APIKEY" target="_blank">Busca
                                Pinterest</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/downloader/wallpaperflare?query=anime&apikey=APIKEY" target="_blank">Buscar
                                Wallpaper</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/download/googleimg?query=satoru gojo&apikey=APIKEY" target="_blank">Pesquisar
                                Imagem Google</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/download/apk?query=minecraft&apikey=APIKEY" target="_blank">Buscar APK</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/download/apkdl?url=URL_APKPURE&apikey=APIKEY" target="_blank">BAIXAR APK</a>
                            <a class="dropdown-item" target="_blank" href="/api/yt/playmp3?query=vmz baka&apikey=APIKEY"
                                target="_blank">Play MP3</a>
                            <a class="dropdown-item" target="_blank" href="/api/yt/playmp4?query=vmz baka&apikey=APIKEY"
                                target="_blank">Play MP4</a>
                            <a class="dropdown-item" target="_blank" href="/api/yt/search?query=vmz&apikey=APIKEY"
                                target="_blank">YT Search</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/download/tiktok?url=https://vt.tiktok.com/ZSeJ7P56G&apikey=APIKEY"
                                target="_blank">Tiktokdl (sem marca d'agua</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/downloader/pornhub?query=japan&apikey=APIKEY" target="_blank">Pornhub
                                search</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/downloader/xnxx?query=japan&apikey=APIKEY" target="_blank">Xnxx search</a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/downloader/xvideo?query=japan&apikey=APIKEY" target="_blank">Xvideos
                                search</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-gamepad"></i> JOGOS </a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a class="dropdown-item" target="_blank" href="/api/game/adivinheabandeira?apikey=APIKEY"
                                target="_blank">Adivinhe a Bandeira 🇧🇷</a>
                            <a class="dropdown-item" target="_blank" href="/api/game/adivipersonagem?apikey=APIKEY"
                                target="_blank">Adivinhe o Personagem 👦</a>
                        </div>
                    </div>
                    <!--    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> NSFW </a>
                        <div class="dropdown-menu bg-transparent border-0">
                      <a class="dropdown-item" target="_blank" href="/api/wallpaper/nsfwloli?apikey=APIKEY" target="_blank" >Nswf loli</a>
                       <a class="dropdown-item" target="_blank" href="/api/nsfw/ahegao?apikey=APIKEY" target="_blank" >nsfw ahegao</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/ass?apikey=APIKEY" target="_blank" >nsfw ass</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/bdsm?apikey=APIKEY" target="_blank" >Nswf bdsm</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/blowjob?apikey=APIKEY" target="_blank" >nsfw blowjob</a>
		               <a class="dropdown-item" target="_blank" href="/api/nsfw/cuckold?apikey=APIKEY" target="_blank" >nsfw cuckold</a>
		               <a class="dropdown-item" target="_blank" href="/api/nsfw/cum?apikey=APIKEY" target="_blank" >nsfw cum</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/ero?apikey=APIKEY" target="_blank" >nsfw ero</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/femdom?apikey=APIKEY" target="_blank" >nsfw femdom</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/foot?apikey=APIKEY" target="_blank" >nsfw foot</a>
		                <a class="dropdown-item" target="_blank" href="/api/nsfw/gangbang?apikey=APIKEY" target="_blank" >nsfw gangbanh</a>
		                <a class="dropdown-item" target="_blank" href="/api/nsfw/glasses?apikey=APIKEY" target="_blank" >nsfw glasses</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/hentai?apikey=APIKEY" target="_blank" >nsfw hentai</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/gifs?apikey=APIKEY" target="_blank" >nsfw gifs</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/jahy?apikey=APIKEY" target="_blank" >nsfw jahy</a>
		                <a class="dropdown-item" target="_blank" href="/api/nsfw/manga?apikey=APIKEY" target="_blank" >nsfw manga</a>
		                <a class="dropdown-item" target="_blank" href="/api/nsfw/masturbation?apikey=APIKEY" target="_blank" >nsfw mstb</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/neko?apikey=APIKEY" target="_blank" >nsfw neko</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/orgy?apikey=APIKEY" target="_blank" >nsfw orgy</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/panties?apikey=APIKEY" target="_blank" >nsfw panties</a>
		                <a class="dropdown-item" target="_blank" href="/api/nsfw/pussy?apikey=APIKEY" target="_blank" >nsfw pussy</a>
		                <a class="dropdown-item" target="_blank" href="/api/nsfw/neko2?apikey=APIKEY" target="_blank" >nsfw neko2</a>
		                <a class="dropdown-item" target="_blank" href="/api/nsfw/tentacles?apikey=APIKEY" target="_blank" >nsfw tentacles</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/thighs?apikey=APIKEY" target="_blank" >nsfw things</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/yuri?apikey=APIKEY" target="_blank" >nsfw yuri</a>
                        <a class="dropdown-item" target="_blank" href="/api/nsfw/zettai?apikey=APIKEY" target="_blank" >nsfw zettai</a>
                        </div>
                    </div>-->

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-file-text" aria-hidden="true"></i> TEXTPRO</a>
                        <div class="dropdown-menu bg-transparent border-0">
                     <a class="dropdown-item">
                       <h6 align="center"> 
                       LOGOS
                       </h6>
                     </a>
                               <a class="dropdown-item" href="/api/textpro/joker?text=SATORU&apikey=APIKEY"
                                target="_blank">Joker</a>
                                 <a class="dropdown-item" href="/api/textpro/wolf?text=SATORU&text2=api&apikey=APIKEY"
                                target="_blank">Wolf</a>
                            <a class="dropdown-item" href="/api/textpro/wolf2?text=SATORU&text2=api&apikey=APIKEY"
                                target="_blank">Logo Wolf 2</a>
                            <a class="dropdown-item" href="/api/textpro/urso?text=SATORU&apikey=APIKEY"
                                target="_blank">Urso</a>
         
                            <a class="dropdown-item"
                                href="/api/textpro/ninjalogo?text=SATORU&text2=API&apikey=APIKEY"
                                target="_blank">Ninja</a>
                            <a class="dropdown-item" href="/api/textpro/leao?text=SATORU&text2=APIz&apikey=APIKEY"
                                target="_blank">leao</a>
                       
                         <a class="dropdown-item"><h6 align="center"> HERÓIS</h6></a>
                            <a class="dropdown-item" href="/api/textpro/vingadores?text=SATORU&text2=API&apikey=APIKEY"
                                target="_blank">vingadores</a>
                            <a class="dropdown-item" href="/api/textpro/marvel?text=SATORU&text2=API&apikey=APIKEY"
                                target="_blank">Marvel</a>
                            <a class="dropdown-item" href="/api/textpro/thor?text=SATORU&text2=API&apikey=APIKEY"
                                target="_blank">Thor</a>
                            <a class="dropdown-item" href="/api/textpro/capitaoamerica?text=SATORU&text2=API&apikey=APIKEY"
                                target="_blank">Capitão América</a>
                                <a class="dropdown-item">
                                  <h6 align="center">ALEATÓRIOS</h6>
                                       <a class="dropdown-item" href="/api/textpro/pornhub?text=SATORU&text2=API&apikey=APIKEY"
                                target="_blank">PORNHUB</a>
                            <a class="dropdown-item" href="/api/textpro/holograpic?text=SATORU&apikey=APIKEY"
                                target="_blank">Holograpic</a>
 
                            <a class="dropdown-item" href="/api/textpro/blackpink?text=SATORU&apikey=APIKEY"
                                target="_blank">BlackPink</a>
                            <a class="dropdown-item" href="/api/textpro/verao?text=SATORU&apikey=APIKEY"
                                target="_blank">Verão</a>
                           
                            <a class="dropdown-item" href="/api/textpro/harrypotter?text=SATORU&apikey=APIKEY"
                                target="_blank">Harry Potter</a>
                            <a class="dropdown-item" href="/api/textpro/1917?text=SATORU&apikey=APIKEY"
                                target="_blank">1917</a>
                            <a class="dropdown-item" href="/api/textpro/devil?text=SATORU&apikey=APIKEY"
                                target="_blank">Devil</a>
                            <a class="dropdown-item" href="/api/textpro/thunder2?text=SATORU&apikey=APIKEY"
                                target="_blank">Thunder 2</a>
                            <a class="dropdown-item" href="/api/textpro/space?text=SATORU&text2=API&apikey=APIKEY"
                                target="_blank">Space</a>
                                </a>
                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-picture-o" aria-hidden="true"></i></i> WALLPAPER</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a class="dropdown-item" target="_blank"
                                href="/api/wallpaper/satanic?apikey=APIKEY">Wallpaper
                                Satanic </a>

                                            
                        
                            <a class="dropdown-item" target="_blank"
                                href="/api/wallpaper/cyberspace?apikey=APIKEY">Wallpaper Cyberspace </a>
                            <a class="dropdown-item" target="_blank"
                                href="/api/wallpaper/gaming?apikey=APIKEY">Wallpaper
                                Gamer </a>

                            <a class="dropdown-item" target="_blank" href="/api/wallpaper/wallpapertec?apikey=APIKEY">
                                Wallpaper Tecnológico</a>
                          
                            <a class="dropdown-item" target="_blank" href="/api/wallpaper/ppcouple?apikey=APIKEY"
                                target="_blank">PPcouple</a>
                       

                            <a class="dropdown-item" target="_blank" href="/api/wallpaper/pubg?apikey=APIKEY"
                                target="_blank">PUBG</a>

                            <a class="dropdown-item" target="_blank" href="/api/wallpaper/aesthetic?apikey=APIKEY"
                                target="_blank">Aesthetic</a>
                            <a class="dropdown-item" target="_blank" href="/api/wallpaper/aesthetic?apikey=APIKEY"
                                target="_blank">Wallpaper Aesthetic</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/anime?apikey=APIKEY"
                                target="_blank">Wallpaper Anime</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-film"
                                aria-hidden="true"></i>ANIMES</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a class="dropdown-item" target="_blank" href="/api/anime/amv?apikey=APIKEY"
                                target="_blank">AMV</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/cosplay?apikey=APIKEY"
                                target="_blank">Cosplay</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/waifu?apikey=APIKEY"
                                target="_blank">Waifu</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/waifu2?apikey=APIKEY"
                                target="_blank">Waifu2</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/shota?apikey=APIKEY"
                                target="_blank">shota</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/loli?apikey=APIKEY"
                                target="_blank">Loli</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/yotsuba?apikey=APIKEY"
                                target="_blank">Yotsuba</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/shinomiya?apikey=APIKEY"
                                target="_blank">Shinomiya</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/yumeko?apikey=APIKEY"
                                target="_blank">Yumeko</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/tejina?apikey=APIKEY"
                                target="_blank">Tejina</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/chiho?apikey=APIKEY"
                                target="_blank">Chiho</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/boruto?apikey=APIKEY"
                                target="_blank">Boruto</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/kaori?apikey=APIKEY"
                                target="_blank">Kaori</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/shizuka?apikey=APIKEY"
                                target="_blank">Shizuka</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/kaga?apikey=APIKEY"
                                target="_blank">Kaga</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/kotori?apikey=APIKEY"
                                target="_blank">Kotori</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/mikasa?apikey=APIKEY"
                                target="_blank">Mikasa</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/akiyama?apikey=APIKEY"
                                target="_blank">Akiyama</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/gremory?apikey=APIKEY"
                                target="_blank">Gremory</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/isuzu?apikey=APIKEY"
                                target="_blank">Isuzu</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/shina?apikey=APIKEY"
                                target="_blank">Shina</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/kagura?apikey=APIKEY"
                                target="_blank">Kagura</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/shinka?apikey=APIKEY"
                                target="_blank">Shinka</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/eba?apikey=APIKEY"
                                target="_blank">Eba</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/elaina?apikey=APIKEY"
                                target="_blank">Elaina</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/yuri?apikey=APIKEY"
                                target="_blank">Yuri</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/erza?apikey=APIKEY"
                                target="_blank">Erza</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/hinata?apikey=APIKEY"
                                target="_blank">Hinata</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/minato?apikey=APIKEY"
                                target="_blank">Minato</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/naruto?apikey=APIKEY"
                                target="_blank">Naruto</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/sagiri?apikey=APIKEY"
                                target="_blank">Sagiri</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/nezuko?apikey=APIKEY"
                                target="_blank">Nezuko</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/rize?apikey=APIKEY"
                                target="_blank">Rize</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/ana?apikey=APIKEY"
                                target="_blank">Anna</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/deidara?apikey=APIKEY"
                                target="_blank">Deidara</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/yuki?apikey=APIKEY"
                                target="_blank">Yuki</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/ana?apikey=APIKEY"
                                target="_blank">Anna</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/asuna?apikey=APIKEY"
                                target="_blank">Asuna</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/ayuzawa?apikey=APIKEY"
                                target="_blank">Ayuzawa</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/chitoge?apikey=APIKEY"
                                target="_blank">Chitoge</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/emilia?apikey=APIKEY"
                                target="_blank">Emilia</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/hestia?apikey=APIKEY"
                                target="_blank">Hestia</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/inori?apikey=APIKEY"
                                target="_blank">Inori</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/itachi?apikey=APIKEY"
                                target="_blank">Itachi</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/madara?apikey=APIKEY"
                                target="_blank">Madara</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/sakura?apikey=APIKEY"
                                target="_blank">Sakura</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/sasuke?apikey=APIKEY"
                                target="_blank">Sasuke</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/tsunade?apikey=APIKEY"
                                target="_blank">Tsunade</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/onepiece?apikey=APIKEY"
                                target="_blank">One Piece</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/mobil?apikey=APIKEY"
                                target="_blank">Mobil</a>

                            <a class="dropdown-item" target="_blank" href="/api/anime/keneki?apikey=APIKEY"
                                target="_blank">Kaneki</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/megumin?apikey=APIKEY"
                                target="_blank">Megumin</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/toukachan?apikey=APIKEY"
                                target="_blank">Toukachan</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/akira?apikey=APIKEY"
                                target="_blank">Akira</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/itori?apikey=APIKEY"
                                target="_blank">Itori</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/kurumi?apikey=APIKEY"
                                target="_blank">Kurumi</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/miku?apikey=APIKEY"
                                target="_blank">Miku</a>
                            <a class="dropdown-item" target="_blank" href="/api/anime/pokemon?apikey=APIKEY"
                                target="_blank">Pokemon</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-shuffle"></i>RANDOM</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a class="dropdown-item" target="_blank" href="/api/random/meme?apikey=APIKEY"
                            target="_blank">Meme</a>


                </div>
        </div>
    </div>
    </div>
    </nav>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <div class="central">
                <h3 class="" align="center">Satoru<i class="" align="center"><img src="img/satoru.png" alt="" width="30"
                            ></i></h3>
            </div>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notificações</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                Novo Estilo!</h6>
                            <small>5 minutos atrás</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                Site Criado!</h6>
                            <small>12/06/22 </small>
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2"
                            src="https://64.media.tumblr.com/9c1d74026bb52921106ca79e61737183/5f8a57cbf4d0c6d5-2d/s1280x1920/3a0cf40e4c10924d8f0c9d494a0e3beeb1529fb4.jpg"
                            alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">CONVIDADO</span>
                    </a>
                    <!-- <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0"> -->
                    <!-- <a href="#" class="dropdown-item">My Profile</a> -->
                    <!-- <a href="#" class="dropdown-item">Settings</a> -->
                    <!-- <a href="#" class="dropdown-item">Log Out</a> -->
                    <!-- </div> -->
                </div>
            </div>
        </nav>

        <!-- Footer Start -->

        <div class="container-fluid pt-4 px-4" align="center" width="279">

            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4" align="start">Sobre <i class="fa fa-info-circle" aria-hidden="true"></i></h6>
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <img class="img-fluid rounded-circle mx-auto mb-4" src="img/icon.jpg"
                                style="width: 100px; height: 100px;">
                            <h5 class="mb-1">DESENVOLVIDO POR:</h5>
                            <p>Brunoww</p>

                            <p>Esse é um conjunto de Apis gratuito &#128512; <br>Se houver bugs por favor me contate!!
                            </p>
                            <div class="icons-container" align="start">
                                <a href="https://github.com/bruno918/" class="icon">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="https://instagram.com/b_r_u_n_o76" class="icon">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://wa.me/5555933005901" class="icon">
                                    <i class="fab fa-whatsapp" width="10px"></i>
                                </a>


                            </div>
                        </div>
                        <div class="testimonial-item text-center">

                            <h5 class="mb-1">Extras</h5>
                            <h6> Faça uma doação</h6>
                            <p> Além de ajudar a manter o projeto Open Source, você poderá deixar qualquer mensagem no
                                site!!
                            </p>
                            <a href="https://picpay.me/bruno.leal223" class="btn btn-primary btn-sm mr-2"
                                target="_blank"><i class="fa fa-money" aria-hidden="true"></i></a>
                            <h6>Agradecimentos:</h6>
                            <p class="mb-0">Obrigado <a href="https://github.com/inirey/dashadmin"> Reysekha</a> por
                                ceder a base <br> Layout base by <a href="https://htmlcodex.com">HTML Codex</a> e
                                editado por mim.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4" align="center">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-street-view faa-ring animated fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">USÚARIOS</p>
                                <h6 class="mb-0">1</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-eye faa-tada animated fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">VISITANTES</p>
                                <h6 class="mb-0">1</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-key faa-wrench animated fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">APIKEY</p>
                                <h6 class="mb-0">satoru</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-times-circle faa-pulse animated fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">ERROS</p>
                                <h6 class="mb-0">1</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-secondary rounded-top p-4" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">SATORU-APIS</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        <!-- Footer End -->

    </div>
    <!-- Content End -->


    <!-- Back to Top -->


    <style>
        @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");



        .container:after {
            background-color: #f2f2f2;
            content: "";
            height: 10px;
            position: absolute;
            top: 390px;
            width: 100%;
        }

        .container:hover {
            transform: scale(0.54);
        }

        .container-inner {
            clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
                );
            position: relative;
            transform-origin: 50%;
            top: -200px;
        }

        /*.icon {
    margin-right: 30px;
    position: position-fixed;
  }
        .fa-whatsapp {
            animation: flutuacao 3s ease-in-out infinite;
        }
        .fa-github {
            animation: flutuacao 3s ease-in-out infinite;
        }
         .fa-whatsapp {
            animation: flutuacao 3s ease-in-out infinite;
        }
       @keyframes flutuacao {
       0%, 100%{
         transform: translateY(-0px);
    }
        50% {
        transform: translateY(-10px);
    } 
    }
*/
        .central {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 30px;
        }

        .padding {
            margin-top: 35px;
            font-size: medium;
        }

        h6 {
            font-family: 'Prompt', sans-serif;
            /* font-family: 'Roboto', sans-serif; */
        }

        h3 {
            font-family: 'Prompt', sans-serif;
        }

        .fa-money {

            color: #089785;
        }
    </style>
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,100&family=Roboto:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&family=Roboto:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>

    </script>
    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>